@charset "UTF-8";
/** 그리드 **/
.ze-flex {
  display: flex; }

.ze-flex-row {
  flex-direction: row !important; }

.ze-flex-column {
  flex-direction: column !important; }

.ze-flex-grow {
  flex-grow: 1 !important;
  flex-shrink: 0 !important; }

.ze-flex-shrink {
  flex-grow: 0 !important;
  flex-shrink: 1 !important; }

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%; }

.col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: 100%; }

.col-1 {
  flex: 0 0 8.3333333333%;
  max-width: 8.3333333333%; }

.col-2 {
  flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%; }

.col-3 {
  flex: 0 0 25%;
  max-width: 25%; }

.col-4 {
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%; }

.col-5 {
  flex: 0 0 41.6666666667%;
  max-width: 41.6666666667%; }

.col-6 {
  flex: 0 0 50%;
  max-width: 50%; }

.col-7 {
  flex: 0 0 58.3333333333%;
  max-width: 58.3333333333%; }

.col-8 {
  flex: 0 0 66.6666666667%;
  max-width: 66.6666666667%; }

.col-9 {
  flex: 0 0 75%;
  max-width: 75%; }

.col-10 {
  flex: 0 0 83.3333333333%;
  max-width: 83.3333333333%; }

.col-11 {
  flex: 0 0 91.6666666667%;
  max-width: 91.6666666667%; }

.col-12 {
  flex: 0 0 100%;
  max-width: 100%; }

/** 정렬방식 **/
.ze-justify-start {
  justify-content: flex-start !important; }

.ze-justify-end {
  justify-content: flex-end !important; }

.ze-justify-center {
  justify-content: center !important; }

.ze-justify-space-between {
  justify-content: space-between !important; }

.ze-justify-space-around {
  justify-content: space-around !important; }

.ze-align-start {
  align-items: flex-start !important; }

.ze-align-end {
  align-items: flex-end !important; }

.ze-align-center {
  align-items: center !important; }

.ze-align-baseline {
  align-items: baseline !important; }

.ze-align-stretch {
  align-items: stretch !important; }

.ze-align-content-start {
  align-content: flex-start !important; }

.ze-align-content-end {
  align-content: flex-end !important; }

.ze-align-content-center {
  align-content: center !important; }

.ze-align-content-space-between {
  align-content: space-between !important; }

.ze-align-content-space-around {
  align-content: space-around !important; }

.ze-align-content-stretch {
  align-content: stretch !important; }

/** 유틸 **/
.ze-ma-a {
  margin: auto !important;}
.ze-ma-0 {
  margin: 0px !important; }

.ze-ma-1 {
  margin: 4px !important; }

.ze-ma-2 {
  margin: 8px !important; }

.ze-ma-3 {
  margin: 12px !important; }

.ze-ma-4 {
  margin: 16px !important; }

.ze-ma-5 {
  margin: 20px !important; }

.ze-ma-6 {
  margin: 24px !important; }

.ze-ma-7 {
  margin: 28px !important; }

.ze-ma-8 {
  margin: 32px !important; }

.ze-ma-9 {
  margin: 36px !important; }

.ze-ma-10 {
  margin: 40px !important; }

.ze-ma-11 {
  margin: 44px !important; }

.ze-ma-12 {
  margin: 48px !important; }

.ze-mx-0 {
  margin-left: 0px !important;
  margin-right: 0px !important; }

.ze-mx-1 {
  margin-left: 4px !important;
  margin-right: 4px !important; }

.ze-mx-2 {
  margin-left: 8px !important;
  margin-right: 8px !important; }

.ze-mx-3 {
  margin-left: 12px !important;
  margin-right: 12px !important; }

.ze-mx-4 {
  margin-left: 16px !important;
  margin-right: 16px !important; }

.ze-mx-5 {
  margin-left: 20px !important;
  margin-right: 20px !important; }

.ze-mx-6 {
  margin-left: 24px !important;
  margin-right: 24px !important; }

.ze-mx-7 {
  margin-left: 28px !important;
  margin-right: 28px !important; }

.ze-mx-8 {
  margin-left: 32px !important;
  margin-right: 32px !important; }

.ze-mx-9 {
  margin-left: 36px !important;
  margin-right: 36px !important; }

.ze-mx-10 {
  margin-left: 40px !important;
  margin-right: 40px !important; }

.ze-mx-11 {
  margin-left: 44px !important;
  margin-right: 44px !important; }

.ze-mx-12 {
  margin-left: 48px !important;
  margin-right: 48px !important; }

.ze-my-0 {
  margin-top: 0px !important;
  margin-bottom: 0px !important; }

.ze-my-1 {
  margin-top: 4px !important;
  margin-bottom: 4px !important; }

.ze-my-2 {
  margin-top: 8px !important;
  margin-bottom: 8px !important; }

.ze-my-3 {
  margin-top: 12px !important;
  margin-bottom: 12px !important; }

.ze-my-4 {
  margin-top: 16px !important;
  margin-bottom: 16px !important; }

.ze-my-5 {
  margin-top: 20px !important;
  margin-bottom: 20px !important; }

.ze-my-6 {
  margin-top: 24px !important;
  margin-bottom: 24px !important; }

.ze-my-7 {
  margin-top: 28px !important;
  margin-bottom: 28px !important; }

.ze-my-8 {
  margin-top: 32px !important;
  margin-bottom: 32px !important; }

.ze-my-9 {
  margin-top: 36px !important;
  margin-bottom: 36px !important; }

.ze-my-10 {
  margin-top: 40px !important;
  margin-bottom: 40px !important; }

.ze-my-11 {
  margin-top: 44px !important;
  margin-bottom: 44px !important; }

.ze-my-12 {
  margin-top: 48px !important;
  margin-bottom: 48px !important; }

.ze-mt-0 {
  margin-top: 0px !important; }

.ze-mt-1 {
  margin-top: 4px !important; }

.ze-mt-2 {
  margin-top: 8px !important; }

.ze-mt-3 {
  margin-top: 12px !important; }

.ze-mt-4 {
  margin-top: 16px !important; }

.ze-mt-5 {
  margin-top: 20px !important; }

.ze-mt-6 {
  margin-top: 24px !important; }

.ze-mt-7 {
  margin-top: 28px !important; }

.ze-mt-8 {
  margin-top: 32px !important; }

.ze-mt-9 {
  margin-top: 36px !important; }

.ze-mt-10 {
  margin-top: 40px !important; }

.ze-mt-11 {
  margin-top: 44px !important; }

.ze-mt-12 {
  margin-top: 48px !important; }

.ze-mr-0 {
  margin-right: 0px !important; }

.ze-mr-1 {
  margin-right: 4px !important; }

.ze-mr-2 {
  margin-right: 8px !important; }

.ze-mr-3 {
  margin-right: 12px !important; }

.ze-mr-4 {
  margin-right: 16px !important; }

.ze-mr-5 {
  margin-right: 20px !important; }

.ze-mr-6 {
  margin-right: 24px !important; }

.ze-mr-7 {
  margin-right: 28px !important; }

.ze-mr-8 {
  margin-right: 32px !important; }

.ze-mr-9 {
  margin-right: 36px !important; }

.ze-mr-10 {
  margin-right: 40px !important; }

.ze-mr-11 {
  margin-right: 44px !important; }

.ze-mr-12 {
  margin-right: 48px !important; }

.ze-mb-0 {
  margin-bottom: 0px !important; }

.ze-mb-1 {
  margin-bottom: 4px !important; }

.ze-mb-2 {
  margin-bottom: 8px !important; }

.ze-mb-3 {
  margin-bottom: 12px !important; }

.ze-mb-4 {
  margin-bottom: 16px !important; }

.ze-mb-5 {
  margin-bottom: 20px !important; }

.ze-mb-6 {
  margin-bottom: 24px !important; }

.ze-mb-7 {
  margin-bottom: 28px !important; }

.ze-mb-8 {
  margin-bottom: 32px !important; }

.ze-mb-9 {
  margin-bottom: 36px !important; }

.ze-mb-10 {
  margin-bottom: 40px !important; }

.ze-mb-11 {
  margin-bottom: 44px !important; }

.ze-mb-12 {
  margin-bottom: 48px !important; }

.ze-ml-0 {
  margin-left: 0px !important; }

.ze-ml-1 {
  margin-left: 4px !important; }

.ze-ml-2 {
  margin-left: 8px !important; }

.ze-ml-3 {
  margin-left: 12px !important; }

.ze-ml-4 {
  margin-left: 16px !important; }

.ze-ml-5 {
  margin-left: 20px !important; }

.ze-ml-6 {
  margin-left: 24px !important; }

.ze-ml-7 {
  margin-left: 28px !important; }

.ze-ml-8 {
  margin-left: 32px !important; }

.ze-ml-9 {
  margin-left: 36px !important; }

.ze-ml-10 {
  margin-left: 40px !important; }

.ze-ml-11 {
  margin-left: 44px !important; }

.ze-ml-12 {
  margin-left: 48px !important; }

.ze-pa-0 {
  padding: 0px !important; }

.ze-pa-1 {
  padding: 4px !important; }

.ze-pa-2 {
  padding: 8px !important; }

.ze-pa-3 {
  padding: 12px !important; }

.ze-pa-4 {
  padding: 16px !important; }

.ze-pa-5 {
  padding: 20px !important; }

.ze-pa-6 {
  padding: 24px !important; }

.ze-pa-7 {
  padding: 28px !important; }

.ze-pa-8 {
  padding: 32px !important; }

.ze-pa-9 {
  padding: 36px !important; }

.ze-pa-10 {
  padding: 40px !important; }

.ze-pa-11 {
  padding: 44px !important; }

.ze-pa-12 {
  padding: 48px !important; }

.ze-px-0 {
  padding-left: 0px !important;
  padding-right: 0px !important; }

.ze-px-1 {
  padding-left: 4px !important;
  padding-right: 4px !important; }

.ze-px-2 {
  padding-left: 8px !important;
  padding-right: 8px !important; }

.ze-px-3 {
  padding-left: 12px !important;
  padding-right: 12px !important; }

.ze-px-4 {
  padding-left: 16px !important;
  padding-right: 16px !important; }

.ze-px-5 {
  padding-left: 20px !important;
  padding-right: 20px !important; }

.ze-px-6 {
  padding-left: 24px !important;
  padding-right: 24px !important; }

.ze-px-7 {
  padding-left: 28px !important;
  padding-right: 28px !important; }

.ze-px-8 {
  padding-left: 32px !important;
  padding-right: 32px !important; }

.ze-px-9 {
  padding-left: 36px !important;
  padding-right: 36px !important; }

.ze-px-10 {
  padding-left: 40px !important;
  padding-right: 40px !important; }

.ze-px-11 {
  padding-left: 44px !important;
  padding-right: 44px !important; }

.ze-px-12 {
  padding-left: 48px !important;
  padding-right: 48px !important; }

.ze-py-0 {
  padding-top: 0px !important;
  padding-bottom: 0px !important; }

.ze-py-1 {
  padding-top: 4px !important;
  padding-bottom: 4px !important; }

.ze-py-2 {
  padding-top: 8px !important;
  padding-bottom: 8px !important; }

.ze-py-3 {
  padding-top: 12px !important;
  padding-bottom: 12px !important; }

.ze-py-4 {
  padding-top: 16px !important;
  padding-bottom: 16px !important; }

.ze-py-5 {
  padding-top: 20px !important;
  padding-bottom: 20px !important; }

.ze-py-6 {
  padding-top: 24px !important;
  padding-bottom: 24px !important; }

.ze-py-7 {
  padding-top: 28px !important;
  padding-bottom: 28px !important; }

.ze-py-8 {
  padding-top: 32px !important;
  padding-bottom: 32px !important; }

.ze-py-9 {
  padding-top: 36px !important;
  padding-bottom: 36px !important; }

.ze-py-10 {
  padding-top: 40px !important;
  padding-bottom: 40px !important; }

.ze-py-11 {
  padding-top: 44px !important;
  padding-bottom: 44px !important; }

.ze-py-12 {
  padding-top: 48px !important;
  padding-bottom: 48px !important; }

.ze-pt-0 {
  padding-top: 0px !important; }

.ze-pt-1 {
  padding-top: 4px !important; }

.ze-pt-2 {
  padding-top: 8px !important; }

.ze-pt-3 {
  padding-top: 12px !important; }

.ze-pt-4 {
  padding-top: 16px !important; }

.ze-pt-5 {
  padding-top: 20px !important; }

.ze-pt-6 {
  padding-top: 24px !important; }

.ze-pt-7 {
  padding-top: 28px !important; }

.ze-pt-8 {
  padding-top: 32px !important; }

.ze-pt-9 {
  padding-top: 36px !important; }

.ze-pt-10 {
  padding-top: 40px !important; }

.ze-pt-11 {
  padding-top: 44px !important; }

.ze-pt-12 {
  padding-top: 48px !important; }

.ze-pr-0 {
  padding-right: 0px !important; }

.ze-pr-1 {
  padding-right: 4px !important; }

.ze-pr-2 {
  padding-right: 8px !important; }

.ze-pr-3 {
  padding-right: 12px !important; }

.ze-pr-4 {
  padding-right: 16px !important; }

.ze-pr-5 {
  padding-right: 20px !important; }

.ze-pr-6 {
  padding-right: 24px !important; }

.ze-pr-7 {
  padding-right: 28px !important; }

.ze-pr-8 {
  padding-right: 32px !important; }

.ze-pr-9 {
  padding-right: 36px !important; }

.ze-pr-10 {
  padding-right: 40px !important; }

.ze-pr-11 {
  padding-right: 44px !important; }

.ze-pr-12 {
  padding-right: 48px !important; }

.ze-pb-0 {
  padding-bottom: 0px !important; }

.ze-pb-1 {
  padding-bottom: 4px !important; }

.ze-pb-2 {
  padding-bottom: 8px !important; }

.ze-pb-3 {
  padding-bottom: 12px !important; }

.ze-pb-4 {
  padding-bottom: 16px !important; }

.ze-pb-5 {
  padding-bottom: 20px !important; }

.ze-pb-6 {
  padding-bottom: 24px !important; }

.ze-pb-7 {
  padding-bottom: 28px !important; }

.ze-pb-8 {
  padding-bottom: 32px !important; }

.ze-pb-9 {
  padding-bottom: 36px !important; }

.ze-pb-10 {
  padding-bottom: 40px !important; }

.ze-pb-11 {
  padding-bottom: 44px !important; }

.ze-pb-12 {
  padding-bottom: 48px !important; }

.ze-pl-0 {
  padding-left: 0px !important; }

.ze-pl-1 {
  padding-left: 4px !important; }

.ze-pl-2 {
  padding-left: 8px !important; }

.ze-pl-3 {
  padding-left: 12px !important; }

.ze-pl-4 {
  padding-left: 16px !important; }

.ze-pl-5 {
  padding-left: 20px !important; }

.ze-pl-6 {
  padding-left: 24px !important; }

.ze-pl-7 {
  padding-left: 28px !important; }

.ze-pl-8 {
  padding-left: 32px !important; }

.ze-pl-9 {
  padding-left: 36px !important; }

.ze-pl-10 {
  padding-left: 40px !important; }

.ze-pl-11 {
  padding-left: 44px !important; }

.ze-pl-12 {
  padding-left: 48px !important; }

/*  ze-style  */

/*
 text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
 { 글자 테두리 생성 }

 */


/*# sourceMappingURL=ze-grid.css.map */
