* {
  box-sizing: border-box;
  list-style: none;
  font-family: "Noto Sans KR", sans-serif;
}

/*
ul::-webkit-scrollbar{
  width: 8px;
}
ul::-webkit-scrollbar-thumb{
  height: 50%;
  background-color: #9497a0;
  border-radius: 8px;
}
ul::-webkit-scrollbar-track{
  background-color: transparent;
}
*/
#layout {
  position: relative;
}
#layout.menu-up {
  overflow: hidden;
}
#layout.menu-up .menu-sect {
  display: block;
}
#layout .service-icon {
  background: url("../resource/widget-icon.png") no-repeat;
}
#layout .etc-icon1 {
  background: url("../resource/sns-icon.png") no-repeat;
}
#layout .etc-icon2 {
  background: url("../resource/sns-icon2.png") no-repeat 0 0/250px auto;
}
#layout .menu-sect {
  overflow-x: hidden;
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 100;
}
#layout .menu-sect::-webkit-scrollbar {
  display: none;
}
#layout .menu-sect .menu-inner {
  background-color: white;
  width: 100%;
  height: auto;
}
#layout .menu-sect .menu-inner .log-in {
  padding: 10px 16px 9px;
  width: 100%;
  height: 56px;
  border-bottom: 1px solid #dbdbdc;
}
#layout .menu-sect .menu-inner .log-in .login-t {
  background-color: white;
  border: #125de6 solid 1px;
  height: 36px;
  padding: 0 14px 0 12px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
#layout .menu-sect .menu-inner .log-in .login-t .l-text {
  font-size: 16px;
  color: #125de6;
  font-weight: 500;
}
#layout .menu-sect .menu-inner .log-in .cancel-box {
  width: 24px;
  height: 24px;
  position: relative;
  cursor: pointer;
}
#layout .menu-sect .menu-inner .log-in .cancel-box .cancel {
  position: absolute;
  background-position: -20px 0;
  width: 18px;
  height: 16px;
  font-size: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#layout .menu-sect .menu-inner .plus-i {
  background-position: 0 -19px;
  position: absolute;
  right: 22px;
  width: 12px;
  height: 12px;
}
#layout .menu-sect .menu-inner .menu-div {
  width: 100%;
  padding: 0 16px;
  height: 55px;
  font-size: 16px;
  color: #333;
  font-weight: 500;
  border-bottom: 1px #ececed solid;
  position: relative;
  transition: 0.3s all ease-out;
}
#layout .menu-sect .menu-inner .menu-div.menu-hover:hover {
  color: #125de6;
}
#layout .menu-sect .menu-inner .menu-div .upload-i {
  background-position: -42px -19px;
  width: 14px;
  height: 14px;
  margin: 6px 0 0 10px;
}
#layout .menu-sect .menu-inner .menu-div .menu-hover {
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 100%;
  transition: 0.3s all ease-out;
  background-color: transparent;
  border-bottom: 3px rgba(18, 93, 230, 0) solid;
}
#layout .menu-sect .menu-inner .menu-div .menu-hover:hover {
  border-bottom: 3px rgb(18, 93, 230) solid;
}
#layout .menu-sect .menu-inner .event-menu.ev-on .ev {
  color: #125de6;
}
#layout .menu-sect .menu-inner .event-menu.ev-on .ev .ev-plus {
  background-position: -14px -19px;
}
#layout .menu-sect .menu-inner .event-menu.ev-on .event-in-m {
  max-height: 100vw;
  border: none;
  border-bottom: 1px #dadada solid;
}
#layout .menu-sect .menu-inner .event-menu .event-in-m, #layout .menu-sect .menu-inner .event-menu .event-in2-m {
  position: relative;
  width: 100%;
  max-height: 0;
  background-color: #fafafa;
  color: #222;
  overflow: hidden;
  transition: 0.3s ease all;
  font-size: 15px;
}
#layout .menu-sect .menu-inner .event-menu .event-in-m .e-m-c, #layout .menu-sect .menu-inner .event-menu .event-in-m .in-ev, #layout .menu-sect .menu-inner .event-menu .event-in2-m .e-m-c, #layout .menu-sect .menu-inner .event-menu .event-in2-m .in-ev {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 48px;
  padding: 0 40px;
}
#layout .menu-sect .menu-inner .event-menu .event-in-m .event-in-menu.ev-in-on .in-ev, #layout .menu-sect .menu-inner .event-menu .event-in2-m .event-in-menu.ev-in-on .in-ev {
  color: #125de6;
}
#layout .menu-sect .menu-inner .event-menu .event-in-m .event-in-menu.ev-in-on .in-ev .plus-i, #layout .menu-sect .menu-inner .event-menu .event-in2-m .event-in-menu.ev-in-on .in-ev .plus-i {
  background-position: -14px -19px;
}
#layout .menu-sect .menu-inner .event-menu .event-in-m .event-in-menu.ev-in-on .event-in2-m, #layout .menu-sect .menu-inner .event-menu .event-in2-m .event-in-menu.ev-in-on .event-in2-m {
  max-height: 100vw;
}
#layout .menu-sect .menu-inner .event-menu .event-in-m .in2-c, #layout .menu-sect .menu-inner .event-menu .event-in2-m .in2-c {
  background-color: #f1f1f1;
  padding: 0 64px;
  color: #555;
}
#layout .menu-sect .menu-inner .menu-div-last {
  width: 100%;
  height: 56px;
  font-size: 16px;
  color: white;
  font-weight: 500;
  background-color: #125de6;
}
#layout .menu-sect .menu-inner .menu-div-last .upload-i {
  background-position: -56px -19px;
  width: 14px;
  height: 14px;
  margin: 6px 0 0 10px;
}
#layout .widget {
  width: 46px;
  height: auto;
  background-color: #f9f9f9;
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 50;
  cursor: pointer;
}
#layout .widget .w-area {
  width: 46px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#layout .widget .w-area .w-icon-1 {
  background-position: -24px -48px;
  width: 20px;
  height: 20px;
}
#layout .widget .w-area .w-icon-3 {
  background-position: -25px -94px;
  width: 18px;
  height: 18px;
}
#layout .widget .w-area-c {
  width: 46px;
  height: 46px;
  border-bottom: 1px solid #ececed;
  border-top: 1px solid #ececed;
  display: flex;
  justify-content: center;
  align-items: center;
}
#layout .widget .w-area-c .w-icon-2 {
  background-position: -26px -70px;
  width: 16px;
  height: 21px;
}
#layout .header {
  z-index: 1;
  white-space: nowrap;
  position: absolute;
  width: 100%;
  height: 69px;
  background-color: transparent;
}
#layout .header .header-inner {
  padding: 1px 50px 0 60px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  max-width: 1920px;
  min-width: 1440px;
}
#layout .header .header-inner .logo-white {
  display: block;
  width: 112px;
  height: 37px;
  margin-right: 24px;
  cursor: pointer;
}
#layout .header .header-inner .logo-color {
  display: none;
  width: 112px;
  height: 37px;
  margin-right: 24px;
  cursor: pointer;
}
#layout .header .header-inner .h-cont {
  height: 100%;
  width: auto;
}
#layout .header .header-inner .h-cont .h-div {
  height: 100%;
  padding: 0 6px 3px;
  border-bottom: transparent 3px solid;
  transition: 0.15s all ease-out;
}
#layout .header .header-inner .h-cont .h-div:hover {
  border-bottom: #125de6 3px solid;
}
#layout .header .header-inner .h-cont .h-div:hover .h-c-in {
  color: #125de6 !important;
}
#layout .header .header-inner .h-cont .h-div.console {
  height: 100%;
  padding: 0 6px 3px;
}
#layout .header .header-inner .h-cont .h-div.console:hover {
  border-bottom: transparent 3px solid;
}
#layout .header .header-inner .h-cont .h-div .h-c-in {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 8px;
  font-size: 14px;
  color: white;
  font-weight: 400;
  cursor: pointer;
}
#layout .header .header-inner .h-cont .h-div .h-console {
  width: 100%;
  height: 30px;
  background-color: #125de6;
  margin-top: 2px;
  padding: 0 14px;
  border-radius: 30px;
}
#layout .header .header-inner .h-cont .h-div .h-console:hover {
  background-color: #0c48b7;
}
#layout .header .header-inner .h-cont .h-div .h-console .cons {
  font-size: 14px;
  font-weight: 400;
  color: white;
  width: 100%;
  cursor: pointer;
}
#layout .header .header-inner .h-r-cont .i-area {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background-color: hsla(0deg, 0%, 93%, 0.7);
  transition: all 1s;
}
#layout .header .header-inner .h-r-cont .i-area .s-i {
  position: absolute;
  width: 16px;
  height: 16px;
  left: 50%;
  top: 50%;
  margin: -7px 0 0 -7px;
}
#layout .header .header-inner .h-r-cont .i-area .l-i {
  font-size: 10px;
  padding-bottom: 2px;
  font-weight: 400;
  color: #313338;
}
#layout .header .header-inner .h-r-cont .subs-i {
  margin-left: 20px;
  padding: 5px 15px;
  height: 30px;
  border: 1px solid #fff;
  border-radius: 15px;
  color: white;
  cursor: pointer;
}
#layout .header .header-inner .h-r-cont .subs-i .subs {
  font-size: 12px;
}
#layout .header .header-inner .h-r-cont .i-cont {
  font-size: 14px;
  padding: 0 9px;
  color: white;
  font-weight: 300;
}
#layout .header:hover {
  position: fixed;
  background-color: white;
  transition: 0.5s ease-out all;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15);
}
#layout .header:hover .header-inner .logo-white {
  display: none;
}
#layout .header:hover .header-inner .logo-color {
  display: block;
}
#layout .header:hover .header-inner .h-cont .h-div .h-c-in {
  color: #313338;
}
#layout .header:hover .header-inner .h-r-cont .subs-i {
  border: 1px solid #125ce5;
  color: #125ce5;
}
#layout .header:hover .header-inner .h-r-cont .subs-i:hover {
  border: 1px solid #0c48b7;
}
#layout .header:hover .header-inner .h-r-cont .i-cont {
  color: #313338;
}
#layout.scroll-down .header {
  position: fixed;
  background-color: white;
  transition: 0.5s ease-out all;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15);
}
#layout.scroll-down .header .header-inner .logo-white {
  display: none;
}
#layout.scroll-down .header .header-inner .logo-color {
  display: block;
}
#layout.scroll-down .header .header-inner .h-cont .h-div .h-c-in {
  color: #313338;
}
#layout.scroll-down .header .header-inner .h-r-cont .subs-i {
  border: 1px solid #125ce5;
  color: #125ce5;
}
#layout.scroll-down .header .header-inner .h-r-cont .i-cont {
  color: #313338;
}
#layout .intro {
  width: 100%;
  height: 550px;
  z-index: 10;
}
#layout .intro .i-1 {
  height: 100%;
  width: 100%;
  background: url("../resource/slide-1.png") no-repeat center/cover;
}
#layout .notice-area {
  margin-top: -60px;
  height: auto;
  width: 100%;
  z-index: 5;
}
#layout .notice-area .notice-inner {
  z-index: 20;
  width: 1240px;
  margin: 0 auto;
  padding: 80px 50px 0;
  height: 100%;
  background-color: white;
}
#layout .notice-area .notice-inner .notice-cont {
  margin-top: -46px;
  padding-bottom: 22px;
  width: 100%;
  height: 100%;
  position: relative;
}
#layout .notice-area .notice-inner .notice-cont .n-c-box1 {
  padding: 7px 50px 4px 0;
  width: 50%;
  height: 100%;
}
#layout .notice-area .notice-inner .notice-cont .n-c-box1:after {
  content: "";
  width: 1px;
  position: absolute;
  top: 7px;
  bottom: 26px;
  background-color: #e5e5e5;
  left: 50%;
}
#layout .notice-area .notice-inner .notice-cont .n-t {
  font-size: 24px;
  font-weight: 400;
  color: #333;
}
#layout .notice-area .notice-inner .notice-cont .n-t .n-more {
  background-position: -46px -48px;
  width: 12px;
  height: 22px;
}
#layout .notice-area .notice-inner .notice-cont .n-c {
  width: 100%;
  height: 100%;
}
#layout .notice-area .notice-inner .notice-cont .n-c .n-c-in {
  height: 28px;
  font-size: 14px;
  color: #333;
  font-weight: 300;
}
#layout .notice-area .notice-inner .notice-cont .n-c-box2 {
  padding: 7px 0 4px 50px;
  width: 50%;
  height: 100%;
}
#layout .notice-area .notice-inner .notice-cont .n-c-box2 .n-c-in {
  box-sizing: border-box;
  width: 425px;
  padding-right: 16px;
}
#layout .notice-area .notice-inner .notice-cont .n-c-box2 .n-c-in .n-c-in-b {
  width: auto;
  height: 20px;
  padding: 0 12px;
  font-size: 12px;
  border-radius: 20px;
  background-color: #494949;
  color: white;
  margin-right: 16px;
  white-space: nowrap;
}
#layout .notice-area .notice-inner .notice-cont .n-c-box2 .n-c-in .n-c-in-c {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#layout .notice-area .notice-inner .notice-cont .n-c-box2 span {
  height: 28px;
  font-size: 14px;
  color: #333;
  font-weight: 300;
}
#layout .sect-in {
  width: 1240px;
  margin: 0 auto;
  padding: 100px 50px;
  color: #333;
}
#layout .sect-in .main-title {
  font-size: 36px;
  text-align: center;
}
#layout .sect-in .main-cate {
  height: 64px;
  width: 100%;
}
#layout .sect-in .main-cate .m-cate {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 300;
  border-bottom: 4px transparent solid;
}
#layout .sect-in .main-cate .m-cate.c-active {
  font-weight: 400;
  border-bottom: 4px #125ce5 solid;
}
#layout .sect-in .cate-line {
  border-bottom: #cccccc 1px solid;
}
#layout .sect-in .main-con {
  width: 100%;
  height: auto;
  padding-top: 60px;
}
#layout .sect-in .main-con .con-sect {
  padding: 1px;
}
#layout .sect-in .main-con .con-sect.ml42 {
  margin-left: 42px;
}
#layout .sect-in .main-con .con-sect .con-a {
  width: 350px;
  height: auto;
  border: 1px #e5e5e5 solid;
}
#layout .sect-in .main-con .con-sect .con-a.mt26 {
  margin-top: 26px;
}
#layout .sect-in .main-con .con-sect .con-a .con-title {
  color: #222;
  padding: 20px 18px;
  border-bottom: 1px #e5e5e5 solid;
  display: flex;
  align-items: center;
}
#layout .sect-in .main-con .con-sect .con-a .con-title .service-icon {
  width: 26px;
  height: 26px;
  margin-right: 24px;
}
#layout .sect-in .main-con .con-sect .con-a .con-title .compute {
  background-position: 0 -116px;
}
#layout .sect-in .main-con .con-sect .con-a .con-title .graph-bar {
  background-position: -56px -116px;
}
#layout .sect-in .main-con .con-sect .con-a .con-title .user {
  background-position: -140px -116px;
}
#layout .sect-in .main-con .con-sect .con-a .con-title .container {
  background-position: -308px -116px;
}
#layout .sect-in .main-con .con-sect .con-a .con-title .data-base {
  background-position: -28px -116px;
}
#layout .sect-in .main-con .con-sect .con-a .con-title .cloud {
  background-position: -364px -116px;
}
#layout .sect-in .main-con .con-sect .con-a .con-title .network {
  background-position: -84px -116px;
}
#layout .sect-in .main-con .con-sect .con-a .con-title .delivery {
  background-position: -112px -116px;
}
#layout .sect-in .main-con .con-sect .con-a .con-in {
  margin: 9px 0 10px;
}
#layout .sect-in .main-con .con-sect .con-a .con-in .con-b {
  padding: 0 21px;
  position: relative;
  width: 100%;
  height: 36px;
  color: #555;
  font-size: 13px;
}
#layout .sect-in .main-con .con-sect .con-a .con-in .con-b:hover {
  color: #125de6;
}
#layout .sect-in .main-con .con-sect .con-a .con-in .con-b:hover .con-a-1 {
  background-position: 0 -194px;
}
#layout .sect-in .main-con .con-sect .con-a .con-in .con-b:hover .con-a-2 {
  background-position: -88px -194px;
}
#layout .sect-in .main-con .con-sect .con-a .con-in .con-b:hover .con-a-3 {
  background-position: -264px -194px;
}
#layout .sect-in .main-con .con-sect .con-a .con-in .con-b:hover .con-a-4 {
  background-position: -66px -458px;
}
#layout .sect-in .main-con .con-sect .con-a .con-in .con-b:hover .con-a-5 {
  background-position: -66px -194px;
}
#layout .sect-in .main-con .con-sect .con-a .con-in .con-b:hover .con-a-6 {
  background-position: -352px -414px;
}
#layout .sect-in .main-con .con-sect .con-a .con-in .con-b:hover .con-a-7 {
  background-position: -176px -194px;
}
#layout .sect-in .main-con .con-sect .con-a .con-in .con-b:hover .con-a-8 {
  background-position: -220px -194px;
}
#layout .sect-in .main-con .con-sect .con-a .con-in .con-b .con {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-left: 47px;
  cursor: pointer;
}
#layout .sect-in .main-con .con-sect .con-a .con-in .con-b .con .nas-i {
  height: 14px;
  margin: 0 0 0 6px;
  width: 22px;
  background-position: -46px -72px;
  position: relative;
  top: 3px;
}
#layout .sect-in .main-con .con-sect .con-a .con-in .con-b .service-icon {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -10px;
  width: 20px;
  height: 20px;
}
#layout .sect-in .main-con .con-sect .con-a .con-in .con-b .con-a-1 {
  background-position: 0 -172px;
}
#layout .sect-in .main-con .con-sect .con-a .con-in .con-b .con-a-2 {
  background-position: -88px -172px;
}
#layout .sect-in .main-con .con-sect .con-a .con-in .con-b .con-a-3 {
  background-position: -264px -172px;
}
#layout .sect-in .main-con .con-sect .con-a .con-in .con-b .con-a-4 {
  background-position: -66px -436px;
}
#layout .sect-in .main-con .con-sect .con-a .con-in .con-b .con-a-5 {
  background-position: -66px -172px;
}
#layout .sect-in .main-con .con-sect .con-a .con-in .con-b .con-a-6 {
  background-position: -352px -392px;
}
#layout .sect-in .main-con .con-sect .con-a .con-in .con-b .con-a-7 {
  background-position: -176px -172px;
}
#layout .sect-in .main-con .con-sect .con-a .con-in .con-b .con-a-8 {
  background-position: -220px -172px;
}

/*-------- media -------*/
/*--- custom-col = ccol -----*/
/*-------- max -------*/
@media (max-width: 1620px) {
  #layout {
    max-width: 1920px;
    min-width: 1440px;
  }
}
@media (max-width: 768px) {
  #layout {
    max-width: 100%;
    min-width: 0;
  }
  #layout .header {
    width: 100%;
    height: 56px;
    position: relative;
    background-color: white;
  }
  #layout .header .header-inner {
    padding: 0 16px;
    min-width: 0;
    max-width: 100%;
  }
  #layout .header .header-inner .logo-white {
    display: none;
  }
  #layout .header .header-inner .logo-color {
    display: block;
    width: 85px;
    height: 28px;
  }
  #layout .header .header-inner .h-r-cont {
    height: 100%;
  }
  #layout .header .header-inner .h-r-cont .subs-i {
    border: 1px solid #125ce5;
    color: #125ce5;
    margin-left: 16px;
  }
  #layout .header .header-inner .h-r-cont .i-area {
    width: 28px;
    height: 28px;
  }
  #layout .header .header-inner .h-r-cont .i-cont {
    color: #313338;
  }
  #layout .header .header-inner .h-r-cont .menu {
    position: relative;
    margin-left: 19px;
    width: 24px;
    height: 24px;
    padding: 1px;
  }
  #layout .header .header-inner .h-r-cont .menu .bars {
    width: 18px;
    height: 16px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
  }
  #layout .header:hover {
    width: 100%;
    height: 56px;
    position: relative;
    background-color: white;
  }
}

/*# sourceMappingURL=grid-test.css.map */
